<div class="card">
        <div class="card-header">
            <h3 class="card-title">Change Password</h3>
        </div>
        <div class="card-body">
            <form action="/changePassword" method="POST">
                <div class="row">
                    <div class="col-auto">
                        <img class="avatar user-thumb" src="/images/author/avatar.png" alt="avatar">
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="form-label">Old Password</label>
                            <input type="password" name="password" class="form-control" placeholder="old password">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">New Password</label>
                    <input type="password" name="new_password" class="form-control" placeholder="type it once">
                </div>

                <div class="form-group">
                    <label class="form-label">Re-type New Password</label>
                    <input type="password" name="confirm_password" class="form-control" placeholder="type it again">
                </div>

                <div class="form-footer">
                    <button class="btn btn-primary btn-block" type="submit">Update Password</button>
                </div>
            </form>
        </div>
    </div>