<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Parallax Landing Page</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

  <link rel="stylesheet" href="css/style1.css">
  <link rel="stylesheet" href="css/style2.css">


</head>

<body>

  <header class="bg-image">
    <div class="container">
      <a href="index.html"><img src="images/logo.png" alt="logo"></a>
      <h1>MediCords</h1>
      <h2>Global | Secure | Reliable</h2>
      <div class="cont_centrar">
        <div class="">
          <img src="https://unsplash.com/photos/hIgeoQjS_iE" alt="" />
        </div>
        <div class="cont_login">
          <div class="cont_info_log_sign_up">
            <div class="col_md_login">
              <div class="cont_ba_opcitiy">
                <h2 class="cont_ba_text">LOGIN</h2>
                <p class="cont_ba_p">Sign in and continue your journey</p>
                <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
              </div>
            </div>
            <div class="col_md_sign_up">
              <div class="cont_ba_opcitiy">
                <h2 class="cont_ba_text">SIGN UP</h2>
                <p class="cont_ba_p">Begin your journey with us</p>
                <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
              </div>
            </div>
          </div>


          <div class="cont_back_info">
            <div class="cont_img_back_grey">
              <img
                src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d"
                alt="" />
            </div>

          </div>
          <div class="cont_forms">
            <div class="cont_img_back_">
              <img
                src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d"
                alt="" />
            </div>
            <div class="cont_form_login">
              <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
              <h2 class="cont_ba_text">LOGIN</h2>
              <input type="text" placeholder="Email" />
              <input type="password" placeholder="Password" />
              <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
            </div>
            <div class="cont_form_sign_up">
              <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
              <h2 class="cont_ba_text">SIGN UP</h2>
              <input type="text" placeholder="Email" />
              <input type="text" placeholder="User" />
              <input type="password" placeholder="Password" />
              <input type="password" placeholder="Confirm Password" />
              <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="">
    <div class="container">
      <div class="col-3 text--center">
        <img src="https://images.unsplash.com/photo-1504253163759-c23fccaebb55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt=""
          class="details-img--ball" />
      </div>
      <div class="col-7 details">
        <h3>ABOUT OUR SERVICE</h3>
        <p>Our system aims to create a global central database of medical records, 
          to be accessed by both hospitals and doctors. The system will be built using 
          cloud architecture, and will adhere to different levels of internet traffic across 
          the world. We provide portals for patients, hospitals, and doctors to view and 
          update medical records.</p>
      </div>
    </div>
  </section>

  <section class="section--primary">
    <div class="container">
      <div class="col-3 features">
        <i class="fa fa-bolt"></i>
        <p>
          Access your medical record anytime, anywhere in the world
        </p>
      </div>
      <div class="col-3 features">
        <i class="fa fa-bank"></i>
        <p>
          Easy setup and verification phase
        </p>
      </div>
      <div class="col-3 features">
        <i class="fa fa-heart"></i>
        <p>
          Still curious? Find out more by creating an account
        </p>
      </div>
    </div>
  </section>

  <section class="section--primary--alt bg-image bg-image-2">
    <div class="container text--center">
      <h3>Reasons to use this product:</h3>
      <div class="col-5 text--left">
        <ul>
          <li>Its the best</li>
          <li>Its in the cloud</li>
          <li>It everywhere</li>
          <li>Save paper</li>
          <li>Its free!</li>
        </ul>
      </div>
      </div>
    </div>
  </section>

  <section class="section--primary--light">
    <div class="container">
      <blockquote class="testimonial">
        <p>I have never felt the need to use another cloud application to store my medical information after checking out MediCords!"</p>       
        <cite>
          Satisfied Customer
        </cite>
      </blockquote>
    </div>
  </section>

  <footer>
    <div class="container">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <p>&copy; 2019 MediCords Ltd.</p>
    </div>
  </footer>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="js/login.js"></script>


</body>

</html>