<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sign up - srtdash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="images/logo.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/metisMenu.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css"
        media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="css/typography.css">
    <link rel="stylesheet" href="css/default-css.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/register.css">
    <!-- modernizr css -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area">
        <div class="container">
            <div class="login-box ptb--100">
                <form method="POST" action="/authenticate">
                    <ul id="progressbar">
                        <li class="active">User Type</li>
                        <li>Personal Details</li>
                        <li>Identification</li>
                    </ul>
                    <fieldset>
                        <div class="login-form-head">
                            <h4>User Type</h4>
                            <p>What kind of user are you?</p>
                        </div>
                        <div class="login-form-body">
                            <div class="submit-btn-area">
                                <input name="userType" class="next" value="User"></input>
                            </div>
                            <br />
                            <div class="submit-btn-area">
                                <input name="userType" class="next" value="Organization"></input>
                            </div>
                            <div class="form-footer text-center mt-5">
                                <p class="text-muted">Don't have an account? <a href="login">Sign in</a></p>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="login-form-head">
                            <h4>Personal Details</h4>
                            <p>Going to ask for some information</p>
                        </div>
                        <div class="login-form-body">
                            <div class="form-gp">
                                <label for="fName">First Name</label>
                                <input type="text" id="fName" name="first_name">
                                <i class="ti-user"></i>
                            </div>
                            <div class="form-gp">
                                <label for="lName">Last Name</label>
                                <input type="text" id="lName" name="last_name">
                                <i class="ti-user"></i>
                            </div>
                            <div class="form-gp">
                                <label for="email">Email address</label>
                                <input type="email" id="email" name="email_address">
                                <i class="ti-email"></i>
                            </div>
                            <div class="form-gp">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password">
                                <i class="ti-lock"></i>
                            </div>
                            <div class="form-gp">
                                <label for="confirm-password">Confirm Password</label>
                                <input type="password" id="confirm-password" name="confirm_password">
                                <i class="ti-lock"></i>
                            </div>
                            <div class="submit-btn-area">
                                <input name="userType" class="previous" value="Previous"></input>
                            </div>
                            <br/>
                            <div class="submit-btn-area">
                                    <input name="userType" class="next" value="Next"></input>
                                </div>
                            <div class="form-footer text-center mt-5">
                                <p class="text-muted">Don't have an account? <a href="login">Sign in</a></p>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="login-form-head">
                            <h4>Identification</h4>
                            <p>Used to verify yourself</p>
                        </div>
                        <div class="login-form-body">
                            <div class="form-gp">
                                <!-- <input type="text" id="country" name="country"> -->
                                <select id="country" name="country" class="form-control">
                                        <%
                                                for ( var i = 0; i < countryList.length; i++ )
                                                {
                                                    
                                                    %>
                                        <option value="<%=countryList[i].name %>">
                                            <%=countryList[i].name %></option>
                                        <%}%>
                                    </select>
                            </div>
                            <div class="form-gp">
                                <label for="city">City</label>
                                <input type="text" id="city" name="city">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="form-gp">
                                <label for="address">Address</label>
                                <input type="text" id="password" name="address">
                                <i class="fa fa-cube"></i>
                            </div>
                            <div class="form-gp">
                                <label for="identification-number">Identification Number</label>
                                <input type="password" id="identification-number" name="identification_number">
                                <i class="fa-address-card-o"></i>
                            </div>
                            <div class="submit-btn-area">
                                <button id="form_submit" type="submit">Submit <i class="ti-arrow-right"></i></button>
                            </div>
                            <div class="form-footer text-center mt-5">
                                <p class="text-muted">Don't have an account? <a href="login">Sign in</a></p>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
    <!-- login area end -->
    <!-- multistep form -->
    <form id="msform">
        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active">Account Setup</li>
            <li>Social Profiles</li>
            <li>Personal Details</li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
            <h2 class="fs-title">Create your account</h2>
            <h3 class="fs-subtitle">This is step 1</h3>
            <input type="text" name="email" placeholder="Email" />
            <input type="password" name="pass" placeholder="Password" />
            <input type="password" name="cpass" placeholder="Confirm Password" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Social Profiles</h2>
            <h3 class="fs-subtitle">Your presence on the social network</h3>
            <input type="text" name="twitter" placeholder="Twitter" />
            <input type="text" name="facebook" placeholder="Facebook" />
            <input type="text" name="gplus" placeholder="Google Plus" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Personal Details</h2>
            <h3 class="fs-subtitle">We will never sell it</h3>
            <input type="text" name="fname" placeholder="First Name" />
            <input type="text" name="lname" placeholder="Last Name" />
            <input type="text" name="phone" placeholder="Phone" />
            <textarea name="address" placeholder="Address"></textarea>
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="submit" name="submit" class="submit action-button" value="Submit" />
        </fieldset>
    </form>

    <!-- bootstrap 4 js -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/metisMenu.min.js"></script>
    <script src="js/jquery.slimscroll.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>

    <!-- others plugins -->
    <script src="js/plugins.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/register.js"></script>
</body>

</html>