<!-- nav and search button -->
<div class="col-lg-3 clearfix">
        <div class="search-box">
            <form action="javascript:void(0)">
                <input type="text" id="dataTableSearch" placeholder="Search..." required>
                <i class="ti-search"></i>
            </form>
        </div>
    </div>